.product-list {
    flex: 4;
    padding: 20px;
    position: relative;
}

.product-list__product {
    display: flex;
    align-items: center;
}

.product-list__table {
    margin-top: 50px;
}

.product-add--button {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    position: absolute;
    right: 50px;
}

.product-list__img {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.product-list__action {
    display: flex;
    align-items: center;
}

.product-list__button--edit {
    border: none;
    border-radius:10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3bb077;
    color: white;
    margin-right: 10px;
}

.product-list__button--remove {
    color: red;
    cursor: pointer;
}