.top-bar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.top-bar-wrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.top-right {
    display: flex;
    align-items: center;
}

.top-bar__icon-container {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.top__icon-badge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;

}

.top__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
